APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=bootcampgobarbernode

# DataBase

DB_HOST=localhost
DB_USER=postgres
DB_PASS=docker
DB_NAME=gobarber
DB_PORT=5433


# Mongo

MONGO_URL=mongodb://localhost:27017/gobarber

# Redis

REDIS_HOST=localhost
REDIS_PORT=6379


# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=6c39a8c5e13843
MAIL_PASS=7b453bf017f082



# Sentry

SENTRY_DSN=https://af748238e0a4400796681cc3eda39b0e@sentry.io/1775073
